-#  This file is app/views/movies/index.html.haml
%h1 All Movies
= form_tag movies_path, :method => :get, :id => "ratings_form" do
  Include:
  - @all_ratings.each do |rating|
    = check_box_tag "ratings[#{rating}]"
    = rating
  = submit_tag 'Refresh' , :id => "ratings_form" 


%table#movies
  %thead
    %tr
      %th{:class => @set=="title" ? "hilite" : ""}= link_to "Movie Title", root_path({:orderby => "title"})
      %th{:class => @set=="rating" ? "hilite" : ""}= link_to "Rating" , root_path({:orderby => "rating"})
      %th{:class => @set=="release_date" ? "hilite" : ""}= link_to "Release Date" , root_path({:orderby => "release_date"})
      %th  More Info
  %tbody
    - @movies.each do |movie|
      %tr
        %td= movie.title
        %td= movie.rating
        %td= movie.release_date
        %td= link_to "More about #{movie.title}", movie_path(movie)

= link_to 'Add new movie', new_movie_path
